openapi: 3.1.2
info:
  title: Book Publishing API
  version: 0.3.0
  description: |-
    API for managing books, authors, and collections in a publishing system.
    This API provides CRUD operations for books, collections and authors with role-based differentiation.
  contact:
    name: FrancescFe
    url: https://github.com/FrancescFe
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: http://localhost:8080
    description: local server

paths:
  # auth
  /api/v1/auth/login:
    post:
      tags:
        - Login
      operationId: login
      summary: Login user
      description: Create an access token for the authenticated user
      security:
        - bearerAuth: [ ]
      requestBody:
        $ref: './auth/components/requests/login-request.yaml'
      responses:
        '200':
          $ref: './auth/components/responses/login-response.yaml'
        '401':
          $ref: './shared/components/responses/errors/unauthorized.yaml'
        '500':
          $ref: './shared/components/responses/errors/internal-error.yaml'

  # authors
  /api/v1/authors:
    get:
      tags:
        - GetAllAuthors
      operationId: getAuthors
      summary: Get all authors
      description: Retrieve a paginated list of all authors
      parameters:
        - $ref: './shared/components/parameters/pagination.yaml#/page'
        - $ref: './shared/components/parameters/pagination.yaml#/limit'
        - $ref: './shared/components/parameters/pagination.yaml#/search'
      responses:
        '200':
          $ref: './author/components/responses/authors-list.yaml'
        '400':
          $ref: './shared/components/responses/errors/bad-request.yaml'
        '500':
          $ref: './shared/components/responses/errors/internal-error.yaml'
    post:
      tags:
        - CreateAuthor
      operationId: createAuthor
      summary: Create a new author
      description: Create a new author with the provided information
      requestBody:
        $ref: './author/components/requests/create-author.yaml'
      responses:
        '201':
          $ref: './author/components/responses/author-created.yaml'
        '400':
          $ref: './shared/components/responses/errors/bad-request.yaml'
        '409':
          $ref: './shared/components/responses/errors/conflict.yaml'
        '500':
          $ref: './shared/components/responses/errors/internal-error.yaml'
  /api/v1/authors/{id}:
    get:
      tags:
        - GetAuthorById
      operationId: getAuthorByID
      summary: Get author by ID
      description: Retrieve a single author by their unique identifier
      parameters:
        - $ref: './shared/components/parameters/uuid-path.yaml'
      responses:
        '200':
          $ref: './author/components/responses/author-detail.yaml'
        '404':
          $ref: './shared/components/responses/errors/not-found.yaml'
        '500':
          $ref: './shared/components/responses/errors/internal-error.yaml'
    put:
      tags:
        - UpdateAuthorById
      operationId: updateAuthor
      summary: Update an author
      description: Update an existing author by their unique identifier
      parameters:
        - $ref: './shared/components/parameters/uuid-path.yaml'
      requestBody:
        $ref: './author/components/requests/update-author.yaml'
      responses:
        '200':
          $ref: './author/components/responses/author-updated.yaml'
        '400':
          $ref: './shared/components/responses/errors/bad-request.yaml'
        '404':
          $ref: './shared/components/responses/errors/not-found.yaml'
        '409':
          $ref: './shared/components/responses/errors/conflict.yaml'
        '500':
          $ref: './shared/components/responses/errors/internal-error.yaml'
    delete:
      tags:
        - DeleteAuthorById
      operationId: deleteAuthor
      summary: Delete an author
      description: Delete an existing author by their unique identifier
      parameters:
        - $ref: './shared/components/parameters/uuid-path.yaml'
      responses:
        '204':
          $ref: './author/components/responses/author-deleted.yaml'
        '404':
          $ref: './shared/components/responses/errors/not-found.yaml'
        '409':
          $ref: './shared/components/responses/errors/conflict.yaml'
        '500':
          $ref: './shared/components/responses/errors/internal-error.yaml'

  # books
  /api/v1/books:
    get:
      tags:
        - GetAllBooks
      operationId: getBooks
      summary: Get all books
      description: Retrieve a paginated list of all books
      parameters:
        - $ref: './shared/components/parameters/pagination.yaml#/page'
        - $ref: './shared/components/parameters/pagination.yaml#/limit'
        - $ref: './shared/components/parameters/pagination.yaml#/search'
      responses:
        '200':
          $ref: './book/components/responses/books-list.yaml'
        '400':
          $ref: './shared/components/responses/errors/bad-request.yaml'
        '500':
          $ref: './shared/components/responses/errors/internal-error.yaml'
    post:
      tags:
        - CreateBooks
      operationId: createBooks
      summary: Create a new book
      description: Create a new book with the provided information
      requestBody:
        $ref: './book/components/requests/create-book.yaml'
      responses:
        '201':
          $ref: './book/components/responses/book-created.yaml'
        '400':
          $ref: './shared/components/responses/errors/bad-request.yaml'
        '409':
          $ref: './shared/components/responses/errors/conflict.yaml'
        '500':
          $ref: './shared/components/responses/errors/internal-error.yaml'
  /api/v1/books/{id}:
    get:
      tags:
        - GetBookById
      operationId: getBookByID
      summary: Get book by ID
      description: Retrieve a single book by their unique identifier
      parameters:
        - $ref: './shared/components/parameters/uuid-path.yaml'
      responses:
        '200':
          $ref: './book/components/responses/book-detail.yaml'
        '404':
          $ref: './shared/components/responses/errors/not-found.yaml'
        '500':
          $ref: './shared/components/responses/errors/internal-error.yaml'
    put:
      tags:
        - UpdateBookById
      operationId: updateBook
      summary: Update a book
      description: Update an existing book by their unique identifier
      parameters:
        - $ref: './shared/components/parameters/uuid-path.yaml'
      requestBody:
        $ref: './book/components/requests/update-book.yaml'
      responses:
        '200':
          $ref: './book/components/responses/book-updated.yaml'
        '400':
          $ref: './shared/components/responses/errors/bad-request.yaml'
        '404':
          $ref: './shared/components/responses/errors/not-found.yaml'
        '409':
          $ref: './shared/components/responses/errors/conflict.yaml'
        '500':
          $ref: './shared/components/responses/errors/internal-error.yaml'
    delete:
      tags:
        - DeleteBookById
      operationId: deleteBook
      summary: Delete an book
      description: Delete an existing book by their unique identifier
      parameters:
        - $ref: './shared/components/parameters/uuid-path.yaml'
      responses:
        '204':
          $ref: './book/components/responses/book-deleted.yaml'
        '404':
          $ref: './shared/components/responses/errors/not-found.yaml'
        '409':
          $ref: './shared/components/responses/errors/conflict.yaml'
        '500':
          $ref: './shared/components/responses/errors/internal-error.yaml'

  # collections
  /api/v1/collections:
    get:
      tags:
        - GetAllCollections
      operationId: getCollections
      summary: Get all collections
      description: Retrieve a paginated list of all collections
      parameters:
        - $ref: './shared/components/parameters/pagination.yaml#/page'
        - $ref: './shared/components/parameters/pagination.yaml#/limit'
        - $ref: './shared/components/parameters/pagination.yaml#/search'
      responses:
        '200':
          $ref: './collection/components/responses/collections-list.yaml'
        '400':
          $ref: './shared/components/responses/errors/bad-request.yaml'
        '500':
          $ref: './shared/components/responses/errors/internal-error.yaml'
    post:
      tags:
        - CreateCollection
      operationId: createCollection
      summary: Create a new collection
      description: Create a new collection with the provided information
      requestBody:
        $ref: './collection/components/requests/create-collection.yaml'
      responses:
        '201':
          $ref: './collection/components/responses/collection-created.yaml'
        '400':
          $ref: './shared/components/responses/errors/bad-request.yaml'
        '409':
          $ref: './shared/components/responses/errors/conflict.yaml'
        '500':
          $ref: './shared/components/responses/errors/internal-error.yaml'
  /api/v1/collections/{id}:
    get:
      tags:
        - GetCollectionById
      operationId: getCollectionByID
      summary: Get collection by ID
      description: Retrieve a single collection by their unique identifier
      parameters:
        - $ref: './shared/components/parameters/uuid-path.yaml'
      responses:
        '200':
          $ref: './collection/components/responses/collection-detail.yaml'
        '404':
          $ref: './shared/components/responses/errors/not-found.yaml'
        '500':
          $ref: './shared/components/responses/errors/internal-error.yaml'
    put:
      tags:
        - UpdateCollectionById
      operationId: updateCollection
      summary: Update a collection
      description: Update an existing collection by their unique identifier
      parameters:
        - $ref: './shared/components/parameters/uuid-path.yaml'
      requestBody:
        $ref: './collection/components/requests/update-collection.yaml'
      responses:
        '200':
          $ref: './collection/components/responses/collection-updated.yaml'
        '400':
          $ref: './shared/components/responses/errors/bad-request.yaml'
        '404':
          $ref: './shared/components/responses/errors/not-found.yaml'
        '409':
          $ref: './shared/components/responses/errors/conflict.yaml'
        '500':
          $ref: './shared/components/responses/errors/internal-error.yaml'
    delete:
      tags:
        - DeleteCollectionById
      operationId: deleteCollection
      summary: Delete an collection
      description: Delete an existing collection by their unique identifier
      parameters:
        - $ref: './shared/components/parameters/uuid-path.yaml'
      responses:
        '204':
          $ref: './collection/components/responses/collection-deleted.yaml'
        '404':
          $ref: './shared/components/responses/errors/not-found.yaml'
        '409':
          $ref: './shared/components/responses/errors/conflict.yaml'
        '500':
          $ref: './shared/components/responses/errors/internal-error.yaml'

components:
  schemas:
    Author:
      $ref: './author/components/schemas/author.yaml'
    AuthorSummary:
      $ref: './author/components/schemas/author-summary.yaml'
    Book:
      $ref: './book/components/schemas/book.yaml'
    BookSummary:
      $ref: './book/components/schemas/book-summary.yaml'
    Collection:
      $ref: './collection/components/schemas/collection.yaml'
    CollectionSummary:
      $ref: './collection/components/schemas/collection-summary.yaml'
